/* base styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8 1fr);
}

/* base mobile styles */
.header {
  grid-column: 1/9;
  grid-row: 1/2;
  text-align: center;
}

.nav-wrapper {
  grid-column: 1/9;
  grid-row: 2/3;
  text-align: center;
  background-color: #303336;
}

#wrapper {
  grid-column: 1/9;
  grid-row: 3/4;
  text-align: center;
  background-color: white;
  color: black;
}

app-sign-in {
  background-color: black;
  color: white;
}

/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablet laptop styles */
@media screen and (min-width: 960px) {
  .nav-wrapper {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #wrapper {
    grid-column: 2/9;
    grid-row: 2/3;
  }
  .grid {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* large desktop styles */
@media screen and (min-width: 1200px) {
  
}