.navbar {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  list-style-type: none;
  background-color: #1e1e1e;
  margin: 0
}

li {
  margin: 1rem;
}

button {
  border: none;
  background-color: #1e1e1e;
  font-size: larger;
  cursor: pointer;
  color: #a9a9a9;
}

li button:hover {
  color: grey;
}

.active {
  color: #f5f5f5;
}


@media (max-width: 768px) {
  .navbar {
    grid-auto-flow: row; /* Stack items in a column */
    justify-content: start; /* Align items to the left (optional) */
    margin: auto;
  }
}
