/* base styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8 1fr);
}
/* base mobile styles */
.header {
  grid-column: 1/9;
  grid-row: 1/2;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.sect {
  margin-bottom: 20px;;
}

.job-application {
  grid-column: 1/9;
  grid-row: 2/3;
}


.form-group {
  margin-inline: 10px;
  grid-column: 1/9;
  margin-block: 10px;
}

.form-actions {
  grid-column: 1/9;
}

hr {
  grid-column: 1/9;
  width: 100%;
}

label {
  text-align: left;
  grid-column: 1/9;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
}

input, select {
  grid-column: 1/9;
  grid-row: 2/3;
  margin-right: 20px;
  background-color: #121212;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px 8px;
  margin: 4px 0;
  border-radius: 5px;
  color: #ccc;
}
 hr {
  display: none;
 }

 button {
  border-radius: 5px;
  margin-inline: 10px
 }

.btn-reset {
  grid-column: 1/3;
}
.btn-submit {
  grid-column: 6/8;
}


/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablet laptop styles */
@media screen and (min-width: 960px) {
  label {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  input, select {
    grid-column: 5/9;
    grid-row: 1/2;
  border: 1px solid rgba(255, 255, 255, 0.2);
  }

  hr {
    display: block;
  }

  .form-group {
    margin-bottom: 5rem;
  }

  form {
    padding-inline: 20px
  }
}

/* large desktop styles */
@media screen and (min-width: 1200px) {
  
}