<div>
  <section class="tables" >
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Role</th>
          <th>Company</th>
          <th>Date of Applicaton</th>
          <th>Status</th>
          <th>Remarks</th>
          <th>Tag</th>
          <th>Platfrom</th>
          <th>Job Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applications; let i = index" >
          <td>{{i+1}}</td>
          <td>{{ application.roleName }}</td>
          <td>{{ application.companyName }}</td>
          <td>{{ application.dateOfApplication }}</td>
          <td>{{ application.status }}</td>
          <td>{{ application.remarks }}</td>
          <td>{{ application.tag }}</td>
          <td>{{ application.platform }}</td>
          <td>{{ application.jobDescription }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
