/* base styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8 1fr);
}

/* base mobile styles */
.search-wrapper {
  grid-column: 1/9;
  grid-row: 1/2;
}

.search-container {
  grid-column: 1/9;
  grid-row: 1/2;
}

.search-wrapper input {
  margin-block: 20px;
  width: 90%;
  font-size: 1.5em;
}

#applications-table {
  grid-column: 1/9;
  grid-area: 2/3;
  border-collapse: collapse;
  height: auto;
  margin-top: 10px;
  width: 100%;
}

th {
  text-align: left;
  padding-block: 0.5rem;
  color: #333;
  font-weight: 500;
  padding-left: 1rem;
}

td {
  padding-block: 0.6rem;
  color: #404040;
  font-size: 0.8rem;
  padding-left: 1rem;
}

td input {
  width: 60px;
}

th, td {
  border-bottom: 1px solid #c3c3c3;
}

tr:last-child td {
  border-bottom: none;
}

.icon {
  margin-inline: 0.15rem;
  cursor: pointer;
}

.desktop {
  display: none;
}


/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablet laptop styles */
@media screen and (min-width: 960px) {
  
}

/* large desktop styles */
@media screen and (min-width: 1200px) {
  .desktop {
    display:table-cell;
  }
}