/* base styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8 1fr);
}
.signup {
  background-color: black;
  color: white;
}
/* base mobile styles */
form {
  margin: 20px auto;
  width: 100%;
}

.form-group {
  grid-column: 1/9;
  margin-bottom: 20px;
}

label {
  text-align: left;
  grid-column: 2/4;
}

input {
  grid-column: 5/8;
  margin-right: 20px;
}

button {
  grid-column: 4/6;
  margin-block: 10px;
}

a {
  text-decoration: none;
  color: #ccc;
}

/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablet laptop styles */
@media screen and (min-width: 960px) {
  .grid {
    max-width: 600px;
  }
  .signup {
    min-height: 90vh;
  }
  .form-group {
    margin: 20px auto;
  }
}

/* large desktop styles */
@media screen and (min-width: 1200px) {
  
}