<div class="signup-screen">
  <form (submit)="onSignUp()">
    <h2>Sign Up</h2>
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="name" name="name" required />

    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required />

    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required />

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required />

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />

    <button type="submit">Sign Up</button>
  </form>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div>

<div class="signInLink" >
  <a href="/sign-in">Sign In</a>ß
</div>
