/* base styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8 1fr);
}
.signup {
  background-color: black;
  color: white;
  text-align: left;
  min-height: 90vh;
  padding: 20px;
}

.header {
  max-width: 600px;
  margin: 0 auto;
}
/* base mobile styles */
form {
  margin: 20px auto;
  width: 100%;
}

.form-group {
  grid-column: 1/9;
  margin-bottom: 20px;
}

label {
  grid-column: 1/4;
  grid-row: 1/2;
}

input {
  grid-column: 1/8;
  grid-row: 2/3;
  margin-right: 20px;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px 8px;
  margin: 4px 0;
  border-radius: 5px;
  color: #ccc;
}

button {
  grid-column: 1/9;
  margin-block: 10px;
  border-radius: 5px;
  max-width: 600px;
}

h5 {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

a {
  text-decoration: none;
  color: #ccc;
}

.signInLink {
  max-width: 600px;
  margin-inline: auto;
}

.signInLink button {
  width: 100%;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 10px;
  color: #ccc;
  margin-inline: auto;
}

/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablet laptop styles */
@media screen and (min-width: 960px) {
  .grid {
    max-width: 600px;
  }
  .signup {
    min-height: 90vh;
  }
}

/* large desktop styles */
@media screen and (min-width: 1200px) {
  
}